In [117]:
import pymysql.cursors
import pandas as pd
from sqlalchemy import create_engine

In [118]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='barbara',
    database='dados'
)

In [119]:
cursor = connection.cursor()

In [120]:
cursor.execute("SELECT * FROM livros_silver")

1000

In [121]:
resultados = cursor.fetchall()

In [122]:
colunas = [i[0] for i in cursor.description]

In [123]:
df = pd.DataFrame(resultados, columns=colunas)
df

,Titulo,Valor,Categoria,UPC,Disponível,Avaliação
0,A Light in the Attic,51.77,Poetry,a897fe39b1053632,22,3
1,Tipping the Velvet,53.74,Historical Fiction,90fa61229261140a,20,1
2,Soumission,50.10,Fiction,6957f44c3847a760,20,1
3,Sharp Objects,47.82,Mystery,e00eb4fd7b871a48,20,4
4,Sapiens: A Brief History of Humankind,54.23,History,4165285e1663650f,20,5
...,...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,55.53,Classics,cd2a2a70dd5d176d,1,1
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,Sequential Art,bfd5e1701c862ac3,1,4
997,A Spy's Devotion (The Regency Spies of London #1),16.97,Historical Fiction,19fec36a1dfb4c16,1,5
998,1st to Die (Women's Murder Club #1),53.98,Mystery,f684a82adc49f011,1,1
999,"1,000 Places to See Before You Die",26.08,Travel,228ba5e7577e1d49,1,5

In [126]:
preco_minimo = df['Valor'].astype(float).min()
preco_mediano = df['Valor'].astype(float).median()
preco_maximo = df['Valor'].astype(float).max()

In [127]:
avaliacao_minima = df['Avaliação'].astype(int).min()
avaliacao_mediana = df['Avaliação'].astype(int).median()
avaliacao_maxima  = df['Avaliação'].astype(int).max()

In [128]:
livro_mais_caro = df[df['Valor'] == df['Valor'].max()]['Titulo'].sort_values().iloc[0]
livro_maior_avaliacao = df[df['Avaliação'] == df['Avaliação'].max()]['Titulo'].sort_values().iloc[0]

In [129]:
print("Preço mínimo:", preco_minimo)
print("Preço mediano:", preco_mediano)
print("Preço máximo:", preco_maximo)

print("Avaliação mínima:", avaliacao_minima)
print("Avaliação mediana:", avaliacao_mediana)
print("Avaliação máxima:", avaliacao_maxima)

print("Título do livro mais caro:", livro_mais_caro)
print("Título do livro com maior avaliação:", livro_maior_avaliacao)

Preço mínimo: 10.0
Preço mediano: 35.980000000000004
Preço máximo: 59.99
Avaliação mínima: 1
Avaliação mediana: 3.0
Avaliação máxima: 5
Título do livro mais caro: The Perfect Play (Play by Play #1)
Título do livro com maior avaliação: "Most Blessed of the Patriarchs": Thomas Jefferson and the Empire of the Imagination

In [130]:
livros_agregados = pd.DataFrame({
    'Métrica':['Título do livro mais caro', 'Título do livro com maior avaliação', 'Preço mínimo','Preço mediano', 'Preço máximo', 'Avaliação mínima', 'Avaliação mediana', 'Avaliação máxima'],
    'Resultados':[livro_mais_caro,livro_maior_avaliacao,preco_minimo,preco_mediano,preco_maximo,avaliacao_minima,avaliacao_mediana,avaliacao_maxima]
    })

In [131]:
livros_agregados

,Métrica,Resultados
0,Título do livro mais caro,The Perfect Play (Play by Play #1)
1,Título do livro com maior avaliação,"""Most Blessed of the Patriarchs"": Thomas Jeffe..."
2,Preço mínimo,10.0
3,Preço mediano,35.98
4,Preço máximo,59.99
5,Avaliação mínima,1
6,Avaliação mediana,3.0
7,Avaliação máxima,5

In [132]:
string_uri = 'mysql://root:barbara@localhost/dados' #string de conexao (com os dados da conexao)
engine = create_engine(string_uri)

In [86]:
cursor.execute("CREATE TABLE LIVROS_AGREGADOS (Métricas VARCHAR(50), Resultados VARCHAR(100))")

0

In [133]:
livros_agregados.to_sql('livros_agregados', engine, index=False, if_exists='replace')

8

In [134]:
top_livros = df.sort_values(by=['Valor', 'Avaliação'], ascending=[False,False])

In [137]:
top_livros10 = top_livros.head(10)
top_livros10

,Titulo,Valor,Categoria,UPC,Disponível,Avaliação
648,The Perfect Play (Play by Play #1),59.99,Romance,9cc207168a03470d,4,3
617,Last One Home (New Beginnings #1),59.98,Fiction,07e6810fd3236bda,5,3
860,Civilization and Its Discontents,59.95,Psychology,396385e3de5d18c3,3,2
560,The Barefoot Contessa Cookbook,59.92,Food and Drink,6478ccb4416e6a5d,6,5
366,The Diary of a Young Girl,59.90,Nonfiction,54fc03f1e1d355db,12,3
657,The Bone Hunters (Lexy Vaughan & Steven Macaul...,59.71,Thriller,9c4d061c1e2fe6bf,4,3
133,Thomas Jefferson and the Tripoli Pirates: The ...,59.64,History,de3f25248ba0789f,15,1
387,Boar Island (Anna Pigeon #19),59.48,Mystery,49b24c6a41b82bd2,12,3
549,The Man Who Mistook His Wife for a Hat and Oth...,59.45,Nonfiction,60376aa71be66083,6,4
393,The Improbability of Love,59.45,Fiction,437d8dea9272d0a9,11,1