In [ ]:
import pymysql.cursors
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='barbara',
    database='dados'
)

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute("SELECT * FROM livros_raw")

In [ ]:
resultados = cursor.fetchall()

In [ ]:
colunas = [i[0] for i in cursor.description]

In [ ]:
df = pd.DataFrame(resultados, columns=colunas)

In [ ]:
df

In [ ]:
df['Avaliação'] = df['Avaliação'].replace({'One': '1', 'Two':'2', 'Three':'3', 'Four': '4', 'Five':'5'})

In [ ]:
df['Disponível'] = df['Disponível'].str.extract('(\d+)')

In [ ]:
df

In [ ]:
string_uri = 'mysql://root:barbara@localhost/dados' #string de conexao (com os dados da conexao)
engine = create_engine(string_uri)

In [ ]:
cursor.execute("CREATE TABLE LIVROS_SILVER (Titulo VARCHAR(100), Valor FLOAT , Categoria VARCHAR(20), UPC VARCHAR(15), Disponível INT, Avaliação INT)")

In [ ]:
df.to_sql('livros_silver', engine, index=False, if_exists='replace')